header {
    width: 100%;
    height: 110vh;
    background: radial-gradient(#161616, #272727);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: 1.2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;

    h1.nameTitle {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        z-index: 1;
        font-family: $fontGilroyHeavy;
        color: #fff;
        text-transform: uppercase;
        font-size: 64px;
        animation: show .8s 3s linear both;
    }

    p.jobTitle {
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-size: 18px;
        color: rgb(199, 199, 199);
        font-family: $fontPoppins;
        opacity: 0;
        animation: show .8s 3s linear both;
        letter-spacing: 15px;
    }

    p.jobTitle span {
        color: #EF1055;
    }

    p.jobTitle i {
        transition: .4s;
    }

    p.jobTitle i:hover {
        color: #EF1055;
        cursor: pointer;
    }

    p.scrollDown {
        position: absolute;
        top: 96vh;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: $fontPoppins;
        font-weight: 100;
        color: #fff;
        font-size: 13px;
        opacity: 0;
        animation: show .8s 3s linear both;
    }

    svg {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    svg .draw {
        stroke: #EF1055;
        stroke-width: 2px;
        fill: transparent;
        stroke-dasharray: 3200;
        stroke-dashoffset: 3200;
        animation: animate 2s linear both, colorAnimation .5s 2.8s linear both;
    }

    button {
        position: absolute;
        top: 90vh;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 35px;
        background-color: transparent;
        border: 2px solid rgb(199, 199, 199);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        opacity: 0;
        animation: show .8s 3s linear both;
    }

    .dot {
        width: 5px;
        height: 5px;
        display: block;
        background-color: #EF1055;
        border-radius: 50%;
        margin-top: 5px;
        animation: moveScrollDot 1s linear infinite;
    }
}

header.active {
    left: 100%;
}