.main-section {
    width: 100%;
    min-height: calc(100vh + 300px);
    height: 100%;
    padding: 0px 25px;
    background: linear-gradient(to bottom, skyblue, cornflowerblue);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    h1 {
        font-family: $fontGilroyHeavy;
        color: #fff;
        font-size: 32px;
        text-shadow: 2px 2px rgba($color: #000000, $alpha: 0.2);
        margin-top: -100px;

        span.highlight {
            color: $colorPink;
            letter-spacing: 2px;
        }
    }

    .cloud-section .cloud {
        position: absolute;
        width: 220px;
        height: 50px;
        background-color: #fff;
        border-radius: 50px;
        top: 0;
        left: 0;
    }

    .cloud-section .cloud::before {
        content: '';
        position: absolute;
        top: -60px;
        left: 20px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #fff;
    }

    .cloud-section .cloud::after {
        content: '';
        position: absolute;
        top: -40px;
        left: 100px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #fff;
    }

    .cloud-section .cloud.cloud1 {
        top: 150px;
        left: 300px;
        z-index: 2;
    }

    .cloud-section .cloud.cloud2 {
        top: 160px;
        left: 400px;
        z-index: 1;
        opacity: 0.7;
    }

    .cloud-section .cloud.cloud3 {
        top: 180px;
        left: 900px;
    }

    .cloud-section .cloud.cloud4 {
        top: 100px;
        left: 50px;
        z-index: 2;
    }

    .cloud-section .cloud.cloud5 {
        top: 120px;
        left: -50px;
        z-index: 1;
        opacity: 0.6;
    }

    .cloud-section .cloud.cloud6 {
        top: 110px;
        left: 650px;
        width: 50px;
        height: 20px;
    }

    .cloud-section .cloud.cloud6::before {
        width: 30px;
        height: 30px;
        top: -10px;
        left: 5px;
    }

    .cloud-section .cloud.cloud6::after {
        width: 20px;
        height: 20px;
        top: -10px;
        left: 25px;
    }

    .cloud-section .cloud.cloud7 {
        top: 80px;
        left: 1000px;
        opacity: 0.3;
    }

    .cloud-section .cloud.cloud8 {
        top: 120px;
        left: 1200px;
    }

    .cloud-section .cloud.cloud9 {
        top: 180px;
        left: 1500px;
    }

    .cloud-section .cloud.cloud10 {
        top: 90px;
        left: 950px;
        width: 50px;
        height: 20px;
    }

    .cloud-section .cloud.cloud10::before {
        width: 30px;
        height: 30px;
        top: -10px;
        left: 5px;
    }

    .cloud-section .cloud.cloud10::after {
        width: 20px;
        height: 20px;
        top: -10px;
        left: 25px;
    }

    .wave-section .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: url("../src/wave.png");
        background-size: 1000px 100px;
    }

    .wave-section .wave.wave1 {
        animation: waveAnimation 30s linear infinite;
        z-index: 4;
        opacity: 1;
        animation-delay: 0s;
        bottom: 0;
    }

    .wave-section .wave.wave2 {
        animation: waveAnimation2 15s linear infinite;
        z-index: 3;
        opacity: 0.5;
        animation-delay: -5s;
        bottom: 10px;
    }

    .wave-section .wave.wave3 {
        animation: waveAnimation 30s linear infinite;
        z-index: 2;
        opacity: 0.2;
        animation-delay: -2s;
        bottom: 15px;
    }

    .wave-section .wave.wave4 {
        animation: waveAnimation2 5s linear infinite;
        z-index: 1;
        opacity: 0.7;
        animation-delay: -5s;
        bottom: 20px;
    }

    .arrow {
        position: relative;

        img {
            position: absolute;
            top: -300px;
            left: -630px;
        }
    }
}