footer {
    width: 95%;
    height: 50px;
    @include fontDeclaration($fontPoppins, 15px, $colorDark);
    margin: 0 auto 50px auto;
    cursor: crosshair;

    a {
        text-decoration: none;
        color: $colorDark;
        cursor: pointer;
    }
}