/* Projects site */
@media(min-width: 2000px) {
    .webContainer {
        .wrapper {
            section.projectHeader {
                .imageSection {
                    height: 850px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

@media(max-width: 1024px) {

    /* Navigation */
    nav {
        width: 100%;
        height: 70px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #fff;
        overflow: hidden;

        ul {
            width: 100%;
            padding: 25px;
            display: flex;
            flex-direction: column;
            text-align: center;

            li {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 10px;
                line-height: 50px;
            }
        }

        .hamburgerContainer {
            width: 95%;
            height: 50px;
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
            margin-right: 10px;

            .hamburgerBox {
                width: 30px;
                height: 50px;

                .hamburger {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    border: none;
                    background-color: transparent;

                    .hamburgerInner {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 3px;
                        display: block;
                        background-color: $colorDark;
                    }

                    .hamburgerInner::after {
                        position: absolute;
                        top: 10px;
                        left: 0;
                        content: '';
                        width: 110%;
                        height: 3px;
                        display: block;
                        background-color: $colorDark;
                    }

                    .hamburgerInner::before {
                        position: absolute;
                        top: -10px;
                        left: 0;
                        content: '';
                        width: 90%;
                        height: 3px;
                        display: block;
                        background-color: $colorDark;
                    }
                }
            }
        }
    }

    nav.navigation--active {
        height: 100vh;
    }

    /* Main site */
    header.mainSiteHeader {
        h1.nameTitle {
            top: 30%;
            font-size: 32px;
            color: #fff;
            text-shadow: 0 0 10px $colorBlue,
                0 0 15px $colorPink,
                0 0 40px $colorBlue,
                0 0 60px $colorPink,
                0 0 160px $colorBlue;
            animation: show .8s 3s linear both;
        }

        p.jobTitle {
            top: 39%;
            width: 100%;
            text-align: center;
            letter-spacing: 5px;
            font-size: 15px;
        }

        svg {
            top: 30%;
        }

        button {
            top: auto;
            bottom: 5vh;
        }
    }

    section.aboutMe-section {
        .aboutMe-container {
            .top {

                h2 {
                    font-size: 19px;
                    width: 100%;
                    line-height: 40px;

                    span {
                        font-size: 20px;
                    }

                    span.mobile {
                        font-size: 19px;
                        color: $colorLightGray;
                    }

                    span.jobTitle {
                        font-size: 26px;
                        display: inline-block;
                    }

                    span.pink {
                        display: inline-block;
                        font-size: 32px;
                    }
                }
            }

            .bottom {
                .bottomContainer {
                    .technologiesColumns {
                        flex-direction: column;

                        .col {
                            width: 100%;

                            h3 {
                                margin-bottom: 15px;
                            }

                            ul {
                                li {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    section.main-section {
        margin-top: 50px;

        .mainSectionContainer {
            height: 100%;
            overflow-y: hidden;

            .box {

                h3 {
                    font-size: 42px;
                }
            }

            .box.first {
                height: 100%;

                .letterDescription.first {
                    width: 100%;
                    top: 70%;
                }
            }

            .box.second {
                height: 100%;

                .letterDescription.second {
                    width: 100%;
                    top: 70%;
                }
            }

            .box.third {
                height: 100%;

                .letterDescription.third {
                    width: 100%;
                    top: 70%;
                }
            }
        }

        .projectsArrowLabel {
            display: none;
        }
    }

    section.main-section.activeTypography {
        height: 100%;

        .mainSectionContainer {
            height: 100%;

            .box.first {
                height: 75px;

                h3.letter1,
                h3.letter2,
                h3.letter3,
                h3.letter4,
                h3.letter5,
                h3.letter6,
                h3.letter7,
                h3.letter8,
                h3.letter9,
                h3.letter10,
                h3.letter11 {
                    position: absolute;
                    font-size: 42px;
                }

                h3.letter1 {
                    top: 50%;
                    left: 0;
                }

                h3.letter2 {
                    top: 50%;
                    left: 40px;
                }

                h3.letter3 {
                    top: 50%;
                    left: 64px;
                }

                h3.letter4 {
                    top: 50%;
                    left: 90px;
                }

                h3.letter5 {
                    top: 50%;
                    left: 112px;
                }

                h3.letter6 {
                    top: 50%;
                    left: 138px;
                }

                h3.letter7 {
                    top: 50%;
                    left: 175px;
                }

                h3.letter8 {
                    top: 50%;
                    left: 210px;
                }

                h3.letter9 {
                    top: 50%;
                    left: 240px;
                }

                h3.letter10 {
                    top: 50%;
                    left: 268px;
                }

                h3.letter11 {
                    top: 50%;
                    left: 296px;
                }

                .letterDescription.first {
                    animation: slideFromLeft .3s 1s ease-in-out both;
                }
            }

            .box.second {
                height: 75px;

                h3.letter1,
                h3.letter2,
                h3.letter3,
                h3.letter4,
                h3.letter5,
                h3.letter6,
                h3.letter7 {
                    position: absolute;
                    font-size: 42px;
                }

                h3.letter1 {
                    top: 50%;
                    left: 0;
                }

                h3.letter2 {
                    top: 50%;
                    left: 28px;
                }

                h3.letter3 {
                    top: 50%;
                    left: 62px;
                }

                h3.letter4 {
                    top: 50%;
                    left: 88px;
                }

                h3.letter5 {
                    top: 50%;
                    left: 100px;
                }

                h3.letter6 {
                    top: 50%;
                    left: 129px;
                }

                h3.letter7 {
                    top: 50%;
                    left: 153px;
                }

                .letterDescription.second {
                    animation: slideFromLeft .3s 1s ease-in-out both;
                }
            }

            .box.third {
                height: 75px;

                h3.letter1,
                h3.letter2,
                h3.letter3,
                h3.letter4,
                h3.letter5,
                h3.letter6 {
                    position: absolute;
                    font-size: 42px;
                }

                h3.letter1 {
                    top: 50%;
                    left: 0;
                }

                h3.letter2 {
                    top: 50%;
                    left: 27px;
                }

                h3.letter3 {
                    top: 50%;
                    left: 60px;
                }

                h3.letter4 {
                    top: 50%;
                    left: 85px;
                }

                h3.letter5 {
                    top: 50%;
                    left: 127px;
                }

                h3.letter6 {
                    top: 50%;
                    left: 159px;
                }

                .letterDescription.third {
                    top: 63%;
                    animation: slideFromLeft .3s 1s ease-in-out both;
                }
            }
        }
    }

    section.projects {
        position: relative;
        margin-top: 50px;
        height: 100%;

        .projectsContainer {
            padding: 0;

            p {
                margin: 25px 0 25px 0;

            }

            .box {
                position: relative;
                height: 150px;
                background-color: #fff;

                .title {
                    h2 {
                        line-height: 150px;
                        font-size: 32px;
                    }
                }

                .subtitle {
                    h2 {
                        text-transform: none;
                        font-size: 14px;
                        margin-top: 0;
                    }

                    .technologies {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;

                        span {
                            width: 70px;
                            height: 25px;
                            padding: 5px;
                            font-size: 10px;
                            margin-right: 10px;
                            text-align: center;
                            margin-top: 10px;
                        }
                    }
                }

                .image {
                    display: none;
                }

                .imageForMobile {
                    display: block;
                    width: 300px;
                    height: 300px;
                    background-image: url('../src/projects/e-volunteer/mockupsImages/wolontariuszDemo.png');
                    background-size: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    margin: 25px auto;
                }
            }

            .box:hover {
                height: 500px;

                .btnForMobile {
                    position: absolute;
                    bottom: 20px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    padding: 10px;
                    border: none;
                    background-color: $colorPink;
                    @include fontDeclaration($fontPoppins, 12px, #fff);
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }
    }

    section.contact-section {
        width: 100%;
        height: 100%;
        margin-top: 50px;

        .contactSectionContainer {
            flex-direction: column;
            width: 95%;
            height: 100%;
            margin: 50px auto 0 auto;

            aside.left {
                width: 100%;
                height: 100%;
            }

            aside.right {
                width: 100%;
                height: 100%;

                .formContainer {
                    padding: 0;

                    form {
                        input[type="submit"] {
                            width: 50%;
                            margin: 25px auto;
                        }
                    }
                }
            }
        }
    }

    footer {
        margin-top: 50px;
    }

    /* Projects site */
    .webContainer {
        .wrapper {
            padding: 50px 0;

            section.projectHeader {
                .projectTitle {
                    flex-wrap: wrap;

                    h1 {
                        font-size: 32px;
                        letter-spacing: 3px;
                    }

                    p.margin {
                        margin-top: 15px;
                        font-size: 13px;
                    }

                    button {
                        padding: 10px 5px;
                        margin-top: 15px;
                        font-size: 13px;
                    }

                    .technologies {
                        flex-wrap: wrap;
                        margin-top: 10px;

                        span {
                            width: auto;
                            padding: 5px 10px;
                            font-size: 12px;
                        }
                    }
                }

                .projectDescriptionText {
                    width: 100%;
                    margin-top: 200px;
                }

                .imageSection {
                    margin: 50px 0;
                    width: 100vw;
                }
            }

            .projectDescription {
                .content {
                    width: 100%;
                    margin-top: -75px;

                    .colContainer {
                        flex-direction: column;
                        width: 100%;

                        .col {
                            width: 100%;
                            margin: 15px 0;

                            h2 {
                                font-size: 12px;
                            }

                            ul {
                                li {
                                    margin-left: 15px;
                                }
                            }
                        }
                    }
                }

                .content.second {
                    flex-direction: column;
                    margin-top: 50px;

                    .mobileOnly {
                        display: block;
                        margin-bottom: 15px;
                    }

                    .left.first {
                        width: 100%;
                        height: 31vh;
                    }

                    .right.first {
                        width: 100%;
                        padding: 15px 0;

                        h2.hide {
                            display: none;
                        }

                        p {
                            width: 100%;
                            padding-left: 0;
                        }
                    }
                }

                .content.third {
                    margin-top: -150px;
                }

                .content.fourth {
                    margin-top: -150px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}