/* Projects site */
@media(min-width: 2000px) {
    .webContainer {
        .wrapper {
            section.projectHeader {
                .imageSection {
                    height: 850px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

@media(max-width: 1024px) {

    /* Main site */
    header.mainSiteHeader {
        h1.nameTitle {
            top: 30%;
            font-size: 32px;
            color: #fff;
            text-shadow: 0 0 10px $colorBlue,
                0 0 15px $colorPink,
                0 0 40px $colorBlue,
                0 0 60px $colorPink,
                0 0 160px $colorBlue;
            animation: show .8s 3s linear both;
        }

        p.jobTitle {
            top: 39%;
            width: 100%;
            text-align: center;
            letter-spacing: 5px;
            font-size: 15px;
        }

        svg {
            top: 30%;
        }

        button {
            top: auto;
            bottom: 5vh;
        }
    }

    section.main-section {
        .mainSectionContainer {
            min-height: 110vh;
            height: 100%;
            overflow-y: hidden;

            .box {
                h3 {
                    font-size: 42px;
                }
            }

            .box.first {
                .letterDescription.first {
                    width: 100%;
                    top: 70%;
                }
            }

            .box.second {
                .letterDescription.second {
                    width: 100%;
                    top: 70%;
                }
            }

            .box.third {
                .letterDescription.third {
                    width: 100%;
                    top: 70%;
                }
            }
        }
    }

    section.main-section.activeTypography {
        height: 100%;

        .mainSectionContainer {
            .box.first {
                height: 100%;

                h3.letter1,
                h3.letter2,
                h3.letter3,
                h3.letter4,
                h3.letter5,
                h3.letter6,
                h3.letter7,
                h3.letter8,
                h3.letter9,
                h3.letter10,
                h3.letter11 {
                    position: absolute;
                    font-size: 42px;
                }

                h3.letter1 {
                    top: 50%;
                    left: 0;
                }

                h3.letter2 {
                    top: 50%;
                    left: 27px;
                }

                h3.letter3 {
                    top: 50%;
                    left: 53px;
                }

                h3.letter4 {
                    top: 50%;
                    left: 77px;
                }

                h3.letter5 {
                    top: 50%;
                    left: 103px;
                }

                h3.letter6 {
                    top: 50%;
                    left: 127px;
                }

                h3.letter7 {
                    top: 50%;
                    left: 157px;
                }

                h3.letter8 {
                    top: 50%;
                    left: 199px;
                }

                h3.letter9 {
                    top: 50%;
                    left: 227px;
                }

                h3.letter10 {
                    top: 50%;
                    left: 260px;
                }

                h3.letter11 {
                    top: 50%;
                    left: 284px;
                }

                .letterDescription.first {
                    animation: slideFromLeft .3s 1s ease-in-out both;
                }
            }

            .box.second {
                height: 100%;

                h3.letter1,
                h3.letter2,
                h3.letter3,
                h3.letter4,
                h3.letter5,
                h3.letter6,
                h3.letter7 {
                    position: absolute;
                    font-size: 42px;
                }

                h3.letter1 {
                    top: 50%;
                    left: 0;
                }

                h3.letter2 {
                    top: 50%;
                    left: 28px;
                }

                h3.letter3 {
                    top: 50%;
                    left: 62px;
                }

                h3.letter4 {
                    top: 50%;
                    left: 88px;
                }

                h3.letter5 {
                    top: 50%;
                    left: 100px;
                }

                h3.letter6 {
                    top: 50%;
                    left: 129px;
                }

                h3.letter7 {
                    top: 50%;
                    left: 153px;
                }

                .letterDescription.second {
                    animation: slideFromLeft .3s 1s ease-in-out both;
                }
            }

            .box.third {
                height: 500px;

                h3.letter1,
                h3.letter2,
                h3.letter3,
                h3.letter4,
                h3.letter5,
                h3.letter6 {
                    position: absolute;
                    font-size: 42px;
                }

                h3.letter1 {
                    top: 50%;
                    left: 0;
                }

                h3.letter2 {
                    top: 50%;
                    left: 27px;
                }

                h3.letter3 {
                    top: 50%;
                    left: 60px;
                }

                h3.letter4 {
                    top: 50%;
                    left: 85px;
                }

                h3.letter5 {
                    top: 50%;
                    left: 127px;
                }

                h3.letter6 {
                    top: 50%;
                    left: 159px;
                }

                .letterDescription.third {
                    top: 63%;
                    animation: slideFromLeft .3s 1s ease-in-out both;
                }
            }
        }
    }

    section.projects {
        .projectsContainer {
            .box {
                position: relative;
                height: 150px;

                .title {
                    h2 {
                        line-height: 150px;
                        font-size: 32px;
                    }
                }

                .subtitle {
                    h2 {
                        text-transform: none;
                        font-size: 14px;
                        margin-top: 0;
                    }

                    .technologies {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;

                        span {
                            width: 70px;
                            height: 25px;
                            padding: 5px;
                            font-size: 10px;
                            margin-right: 10px;
                            text-align: center;
                            margin-top: 10px;
                        }
                    }
                }

                .imageForMobile {
                    display: block;
                    width: 300px;
                    height: 300px;
                    background-image: url('../src/projects/e-volunteer/mockupsImages/wolontariuszDemo.png');
                    background-size: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    margin: 25px auto;
                }
            }

            .box:hover {
                height: 500px;

                .btnForMobile {
                    position: absolute;
                    bottom: 20px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    padding: 10px;
                    border: none;
                    background-color: $colorPink;
                    @include fontDeclaration($fontPoppins, 12px, #fff);
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }
    }

    /* Projects site */
    .webContainer {
        .wrapper {
            padding: 50px 0;

            section.projectHeader {
                .projectTitle {
                    flex-wrap: wrap;

                    h1 {
                        font-size: 32px;
                        letter-spacing: 3px;
                    }

                    p.margin {
                        margin-top: 15px;
                        font-size: 13px;
                    }

                    button {
                        padding: 10px 5px;
                        margin-top: 15px;
                        font-size: 13px;
                    }

                    .technologies {
                        flex-wrap: wrap;
                        margin-top: 10px;

                        span {
                            width: auto;
                            padding: 5px 10px;
                            font-size: 12px;
                        }
                    }
                }

                .projectDescriptionText {
                    width: 100%;
                    margin-top: 200px;
                }

                .imageSection {
                    margin: 50px 0;
                    width: 100vw;
                }
            }

            .projectDescription {
                .content {
                    width: 100%;
                    margin-top: -75px;

                    .colContainer {
                        flex-direction: column;
                        width: 100%;

                        .col {
                            width: 100%;
                            margin: 15px 0;

                            h2 {
                                font-size: 12px;
                            }

                            ul {
                                li {
                                    margin-left: 15px;
                                }
                            }
                        }
                    }
                }

                .content.second {
                    flex-direction: column;
                    margin-top: 50px;

                    .mobileOnly {
                        display: block;
                        margin-bottom: 15px;
                    }

                    .left.first {
                        width: 100%;
                        height: 31vh;
                    }

                    .right.first {
                        width: 100%;
                        padding: 15px 0;

                        h2.hide {
                            display: none;
                        }

                        p {
                            width: 100%;
                            padding-left: 0;
                        }
                    }
                }

                .content.third {
                    margin-top: -150px;
                }

                .content.fourth {
                    margin-top: -150px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}