nav.mainNavigation {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #000;

    ul {
        width: 25%;
        display: flex;
        justify-content: space-around;
        @include fontDeclaration($fontPoppins, 15px, #fff);
        text-transform: uppercase;

        li {
            cursor: pointer;

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }

    .hamburgerContainer {
        display: none;
    }
}