$fontPoppins: 'Poppins',
sans-serif;
$fontGilroyHeavy: 'Gilroy-Heavy',
sans-serif;
$fontGilroyLight: 'Gilroy-Light',
sans-serif;
$colorPink: #EF1055;
$colorBlue: #4595ff;
$colorDark: #161616;
$colorLightDark: #adadad;
$colorLightGray: #4e4e4e;