.webContainer {
    width: 100%;
    height: 100%;
    background-color: $colorDark;

    .wrapper {
        @include wrapper(90%, 100%, 0, auto);
        padding: 100px 0;
        overflow-x: hidden;

        section.projectHeader {
            width: 100%;
            min-height: 100vh;
            height: 100%;

            .projectTitle {
                width: 90%;
                height: 80px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                h1 {
                    @include fontDeclaration($fontGilroyHeavy, 64px, #fff);
                    text-transform: uppercase;
                }

                .technologies {
                    display: flex;

                    span {
                        display: block;
                        width: 80px;
                        padding: 3px;
                        background-color: #fff;
                        @include fontDeclaration($fontPoppins, 13px, $colorDark);
                        text-align: center;
                        margin: 10px 5px;
                        border-radius: 5px;
                    }
                }

                p {
                    @include fontDeclaration($fontPoppins, 14px, #fff);
                    font-weight: 100;
                    line-height: 25px;
                }

                button {
                    padding: 15px;
                    @include fontDeclaration($fontPoppins, 15px, #fff);
                    background-color: transparent;
                    border: 2px solid $colorPink;
                    cursor: pointer;
                    transition: .4s linear;
                }

                button.notAllowedBtn {
                    cursor: not-allowed;
                }

                button:hover {
                    background-color: $colorPink;
                }
            }

            .projectDescriptionText {
                width: 700px;
                margin-top: 75px;
                @include fontDeclaration($fontPoppins, 14px, $colorLightDark);
                font-weight: 100;
                line-height: 25px;
            }

            .imageSection {
                width: 90%;
                height: 100%;
                margin: 50px 0;
                position: relative;
                background-color: #fff;
                overflow: hidden;
                box-shadow: 0px 5px 3px 5px rgba($color: #000000, $alpha: 0.2);

                img.mainImage {
                    width: 100%;
                    height: 100%;
                    animation: color 4s linear infinite;
                }
            }
        }
    }
}