.projectDescription {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: $colorDark;
    padding: 100px 0;

    h2 {
        font-family: $fontGilroyLight;
        color: #fff;
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    p {
        font-family: $fontPoppins;
        font-size: 14px;
        font-weight: 100;
        color: $colorLightDark;
        margin-top: 10px;
    }

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        .left.first {
            width: 58%;
            height: 70vh;
            background-image: url("../src/projects/e-volunteer/registerScreen.png");
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
        }

        .left.second {
            width: 32%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            padding: 30px 0;

            h2 {
                text-align: left;
                font-family: $fontGilroyLight;
                font-size: 15px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #fff;
            }

            p {
                text-align: left;
                width: 450px;
                font-family: $fontPoppins;
                font-size: 14px;
                font-weight: 100;
                color: $colorLightDark;
                margin-top: 10px;
                padding-right: 40px;
            }
        }

        .right.first {
            width: 32%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;
            padding: 30px 0;

            h2 {
                text-align: right;
                font-family: $fontGilroyLight;
                font-size: 15px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #fff;
            }

            p {
                text-align: right;
                width: 450px;
                font-family: $fontPoppins;
                font-size: 14px;
                font-weight: 100;
                color: $colorLightDark;
                margin-top: 10px;
                padding-left: 40px;
            }
        }

        .right.second {
            width: 58%;
            height: 70vh;
            background-image: url("../src/projects/e-volunteer/registerRoleScreen.png");
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .content.second {
        margin-top: 50px;
    }
}