section.projectSection {
    width: 100%;
    height: 100vh;

    .projectContainer {

        @media(min-width: 769px) {
            .outer-wrapper {
                position: absolute; //zakomentowac
                width: 100vh;
                height: 100vw;
                transform: rotate(-90deg) translateX(-100vh); //zakomentowac
                transform-origin: top left; //zakomentowac
                overflow-x: hidden; //zakomentowac
                overflow-y: scroll; //zakomentowac
                scrollbar-width: none; //zakomentowac
                -ms-overflow-style: none; //zakomentowac

                .wrapper {
                    display: flex;
                    // flex-direction: column;
                    width: 800vw; //zakomentować
                    // height: 800vh;
                    // width: 100%;
                    transform: rotate(90deg) translateY(-100vh); //zakomentowac
                    transform-origin: top left; //zakomentowac

                    .slide {
                        width: 100vw;
                        height: 100vh;
                    }

                    .slide.one {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        position: relative;
                        width: calc(100vw - 80px);
                        margin-left: 80px;
                        padding: 0 75px;

                        h1 {
                            @include fontDeclaration($fontGilroyHeavy, 72px, $colorDark);
                            text-transform: uppercase;

                            span {
                                color: $colorBlue;
                            }
                        }

                        /* p {
                            @include fontDeclaration($fontPoppins, 16px, $colorDark);
                        } */

                        p.projectDescriptionText {
                            @include fontDeclaration($fontPoppins, 14px, $colorLightGray);
                            margin-top: 25px;
                            width: 1000px;
                            line-height: 30px;
                            margin-bottom: 50px;
                            text-align: justify;
                        }

                        span.time {
                            width: 140px;
                            padding: 10px;
                            background-color: $colorPink;
                            @include fontDeclaration($fontPoppins, 14px, #fff);
                            text-align: center;
                        }

                        p.time {
                            margin-top: 25px;
                            margin-left: 5px;
                            @include fontDeclaration($fontPoppins, 14px, $colorDark);
                            text-transform: uppercase;
                        }
                    }

                    .slide.two {
                        position: relative;
                        display: flex;
                        align-items: center;

                        img {
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translate(-50%, -50%);
                            width: 60%;
                            height: 90%;
                        }

                        .column {
                            position: absolute;
                            top: 50%;
                            left: 35%;
                            transform: translate(0, -50%);

                            h1 {
                                @include fontDeclaration($fontRoboto, 22px, $colorDark);
                                text-transform: uppercase;
                            }

                            p {
                                @include fontDeclaration($fontPoppins, 14px, $colorLightGray);
                                margin-top: 15px;
                                line-height: 30px;
                                text-align: justify;

                                span {
                                    font-weight: 600;
                                    color: $colorPink;
                                }
                            }
                        }
                    }

                    .slide.three {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 60%;
                            height: 90%;
                            box-shadow: 3px 3px 13px 3px rgba(0, 0, 0, 0.2);
                        }
                    }

                    .slide.four {

                        .slideContainer {
                            padding: 100px 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            width: 100%;
                            height: 100%;

                            .textContainer {

                                h1 {
                                    @include fontDeclaration($fontRoboto, 22px, $colorDark);
                                    text-transform: uppercase;
                                }

                                p {
                                    @include fontDeclaration($fontPoppins, 14px, $colorLightGray);
                                    margin-top: 15px;
                                    line-height: 30px;
                                    text-align: justify;
                                    width: 1200px;

                                    span {
                                        color: $colorPink;
                                        font-weight: 600;
                                    }
                                }
                            }

                            .colContainer {
                                width: 85%;
                                height: 100%;
                                display: flex;
                                justify-content: space-between;
                                margin-top: 50px;

                                .col {
                                    width: 28.3%;
                                    height: 100%;

                                    h2 {
                                        @include fontDeclaration($fontPoppins, 14px, $colorDark);
                                        text-transform: uppercase
                                    }

                                    li {
                                        @include fontDeclaration($fontPoppins, 14px, $colorLightGray);
                                        margin-top: 10px;
                                    }
                                }
                            }
                        }
                    }

                    .slide.five {
                        position: relative;
                        background-color: $colorDark;

                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 500px;
                            height: 200vh;
                            box-shadow: 3px 3px 13px 3px rgba(0, 0, 0, 0.2);
                            animation: animateProjectLayout 8s linear infinite alternate;
                        }

                        img:hover {
                            animation-play-state: paused;
                        }

                        .slideContainer {
                            position: absolute;
                            left: 500px;
                            top: 0;
                            width: calc(100% - 500px);
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding: 0 0 0 120px;

                            h1 {
                                @include fontDeclaration($fontRoboto, 22px, #fff);
                                text-transform: uppercase;
                            }

                            p {
                                @include fontDeclaration($fontPoppins, 14px, $colorLightDark);
                                margin-top: 15px;
                                line-height: 30px;
                                text-align: justify;
                            }

                            ul {
                                li {
                                    @include fontDeclaration($fontPoppins, 14px, $colorLightDark);
                                    margin-top: 15px;
                                    display: flex;
                                    align-items: center;

                                    span {
                                        margin-right: 15px;
                                        margin-left: 10px;
                                        width: 10px;
                                        height: 10px;
                                        display: block;
                                        border-radius: 50%;
                                    }

                                    span.redStatus {
                                        background-color: crimson;
                                    }

                                    span.greenStatus {
                                        background-color: limegreen;
                                    }

                                    span.orangeStatus {
                                        background-color: orange;
                                    }
                                }
                            }
                        }
                    }

                    .slide.six {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $colorDark;

                        .slider {
                            width: 70%;
                            height: 80%;
                            box-shadow: 3px 3px 13px 3px rgba(0, 0, 0, 0.2);

                            .sliderContainer {
                                width: 100%;
                                height: 100%;

                                .imageSection {
                                    width: 100%;
                                    height: 100%;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                .indicators {
                                    display: flex;
                                    justify-content: flex-end;
                                    padding-top: 10px;
                                    width: 100%;
                                    height: 10%;

                                    span {
                                        margin-right: 10px;
                                        font-size: 24px;
                                        color: $colorLightDark;
                                        cursor: pointer;
                                        transition: .4s;
                                    }

                                    span:hover {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }

                    .slide.seven {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        background-color: $colorDark;

                        h1 {
                            @include fontDeclaration($fontRoboto, 22px, #fff);
                            text-transform: uppercase;
                        }

                        p {
                            @include fontDeclaration($fontPoppins, 14px, $colorLightDark);
                            margin-top: 15px;
                            line-height: 30px;
                            text-align: justify;
                            // padding: 0 150px 0 0;
                        }
                    }

                    .slide.eight {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $colorDark;

                        img {
                            width: 60%;
                            height: 90%;
                        }
                    }
                }
            }

            ::-webkit-scrollbar {
                //zakomentowac
                display: none;
            }
        }
    }
}