section.contact-section {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #000;
    padding-top: 150px;

    .contactSectionContainer {
        width: 95%;
        height: 100%;
        margin: 0 auto;
        display: flex;

        aside.left {
            width: 60%;
            height: 100%;
            // background-color: red;

            h2 {
                @include fontDeclaration($fontPoppins, 20px, #fff);

                span {
                    color: $colorPink;
                }
            }

            p.contactLabel {
                @include fontDeclaration($fontPoppins, 15px, #c7c7c7);
                margin-top: 25px;
                width: 70%;
            }

            a {
                text-decoration: none;
            }

            span.contactHref {
                margin-top: 15px;
                display: flex;
                align-items: center;

                i {
                    display: inline-block;
                    color: #fff;
                    margin-right: 10px;
                }

                p {
                    @include fontDeclaration($fontPoppins, 15px, #c7c7c7);
                }
            }
        }

        aside.right {
            width: 40%;
            height: 100%;

            form {

                .formContent {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    p {
                        @include fontDeclaration($fontPoppins, 15px, #fff);
                        margin-bottom: 15px;
                    }

                    .radioContainer {
                        display: flex;

                        div {
                            margin-right: 15px;

                            label {
                                @include fontDeclaration($fontPoppins, 15px, #c7c7c7);
                                display: inline-block;
                                text-align: center;
                                width: 200px;
                                padding: 10px;
                                border: solid 2px #c7c7c7;
                                transition: all 0.3s;
                                cursor: pointer;
                            }

                            input[type="radio"] {
                                display: none;
                            }

                            input[type="radio"]:checked+label {
                                border: solid 2px $colorBlue;
                            }
                        }
                    }

                    .inputContainer {
                        display: flex;
                        flex-direction: column;

                        input {
                            width: 415px;
                            margin-top: 50px;
                            line-height: 40px;
                            border: none;
                            border-bottom: 2px solid #c7c7c7;
                            background-color: transparent;
                            @include fontDeclaration($fontPoppins, 15px, #c7c7c7);
                        }

                        #msg {
                            width: 415px;
                            height: 150px;
                            background-color: transparent;
                            border: none;
                            border-bottom: 2px solid #c7c7c7;
                            @include fontDeclaration($fontPoppins, 15px, #c7c7c7);
                            resize: vertical;
                            margin-top: 50px;
                        }

                        button[type="submit"] {
                            background-color: #fff;
                            @include fontDeclaration($fontPoppins, 15px, #000);
                            width: 150px;
                            line-height: 45px;
                            font-weight: 800;
                            cursor: pointer;
                            margin-top: 50px;
                            border: none;
                        }

                        p.sendStatus {
                            display: none;
                            margin-top: 25px;

                            i {
                                margin-right: 10px;
                            }
                        }

                        ::placeholder {
                            @include fontDeclaration($fontPoppins, 15px, #c7c7c7);
                        }
                    }
                }
            }
        }
    }
}