section.contact-section {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #000;
    padding-top: 150px;

    .contactSectionContainer {
        width: 95%;
        height: 100%;
        margin: 0 auto;

        h1 {
            @include fontDeclaration($fontPoppins, 20px, #fff);

            span {
                color: $colorPink;
            }
        }

        .icons {
            margin-top: 15px;
            display: flex;
            width: 100px;
            justify-content: space-around;

            i {
                color: #fff;
                font-size: 32px;
                transition: .4s;
                cursor: pointer;
            }

            i:hover {
                color: rgb(129, 129, 129);
            }
        }

        form {
            .formContent {
                margin-top: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .top {
                    display: flex;
                }

                .bottom {
                    display: flex;
                    margin-top: 25px;
                }

                p {
                    @include fontDeclaration($fontPoppins, 16px, #fff);
                }

                input {
                    background-color: #000;
                    // line-height: 40px;
                    width: 300px;
                    margin-left: 8px;
                    border: none;
                    border-bottom: 1px solid rgb(54, 54, 54);
                    padding: 0 10px;
                    @include fontDeclaration($fontPoppins, 16px, #fff);
                }

                ::placeholder {
                    @include fontDeclaration($fontPoppins, 16px, #fff);
                    text-align: center;
                }

                select {
                    background-color: #000;
                    line-height: 40px;
                    width: 200px;
                    margin-left: 8px;
                    border: none;
                    border-bottom: 1px solid rgb(54, 54, 54);
                    padding: 0 10px;
                    @include fontDeclaration($fontPoppins, 16px, #fff);
                }

                span {
                    display: block;
                }

                button {
                    width: 200px;
                    line-height: 45px;
                    margin-top: 100px;
                    @include fontDeclaration($fontPoppins, 16px, #fff);
                    background-color: rgb(19, 19, 19);
                    border: none;
                    cursor: pointer;
                    transition: .8s;
                }

                button:hover {
                    background-color: #000;
                    border: 1px solid rgb(19, 19, 19);
                }
            }
        }
    }
}