header.mainSiteHeader {
    width: 100%;
    height: 110vh;
    top: 0;
    left: 0;
    z-index: 5;
    transition: 1.2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: crosshair;
    background-color: #000;
    box-shadow: 3px 3px 13px 3px rgba($color: #000000, $alpha: 0.1);

    h1.nameTitle {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        z-index: 1;
        @include fontDeclaration($fontGilroyHeavy, 64px, $colorLightDark);
        text-transform: uppercase;
        animation: show .8s 3s linear both, textGlow 5s 3s linear infinite alternate;
        outline: none;
    }

    p.jobTitle {
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        @include fontDeclaration($fontPoppins, 18px, $colorDark);
        opacity: 0;
        animation: show .8s 3s linear both;
        letter-spacing: 15px;
    }

    p.jobTitle span {
        color: $colorBlue;
        animation: colorChangeSpan 3s 2.8s infinite alternate-reverse;
    }

    svg {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    svg .draw {
        stroke: $colorBlue;
        stroke-width: 2px;
        fill: transparent;
        stroke-dasharray: 3200;
        stroke-dashoffset: 3200;
        animation: animate 2s linear both, colorAnimation .5s 2.8s linear both, colorChange 3s 2.8s linear infinite alternate-reverse;
    }

    .scrollDownIcon {
        position: absolute;
        top: 90vh;
        left: 50%;
        transform: translate(-50%, -50%);

        button {
            width: 20px;
            height: 35px;
            background-color: transparent;
            border: 2px solid $colorDark;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            opacity: 0;
            animation: show .8s 3s linear both;
        }

        .dot {
            width: 5px;
            height: 5px;
            display: block;
            background-color: $colorBlue;
            border-radius: 50%;
            margin-top: 5px;
            animation: moveScrollDot 1s linear infinite, colorChangeSpan 3s infinite alternate-reverse;
        }
    }
}

header.active {
    left: 100%;
}