section.projects {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    cursor: crosshair;

    .projectsContainer {
        width: 95%;
        height: 100%;
        margin: 0 auto;
        padding-top: 50px;

        h2.projectsLabel {
            @include fontDeclaration($fontGilroyHeavy, 16px, $colorDark);
            text-transform: uppercase;
            margin-bottom: 100px;
        }

        a {
            text-decoration: none;
        }

        .box {
            width: 100%;
            height: 125px;
            border-bottom: 1px solid $colorLightDark;
            overflow: hidden;
            cursor: pointer;

            .title {
                h2 {
                    @include fontDeclaration($fontGilroyHeavy, 96px, $colorDark);
                    text-transform: uppercase;
                    transition: .3s;

                    span {
                        color: $colorPink;
                    }
                }
            }

            .subtitle {
                h2 {
                    @include fontDeclaration($fontGilroyHeavy, 32px, $colorDark);
                    text-transform: uppercase;
                    margin-top: 20px;
                }

                .technologies {
                    margin-top: 10px;

                    span {
                        width: 100%;
                        padding: 5px 10px;
                        background-color: $colorPink;
                        @include fontDeclaration($fontPoppins, 14px, #fff);
                        border-radius: 10px;
                        margin-right: 5px;
                    }

                    span.software {
                        background-color: $colorBlue;
                    }
                }
            }

            .imageForMobile {
                display: none;
            }

            .btnForMobile {
                display: none;
            }
        }

        .box:hover {
            .title {
                h2 {
                    margin-top: -110px;
                }
            }
        }
    }
}